@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translate(2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translate(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes toggleLeft {
  0% {
    transform: translateX(0); }
  100% {
    transform: scale(1.1); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 3px; }

hr {
  border: 1px solid #00ff7f; }

.header-title-primary {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px; }
  .header-title-primary--main {
    font-size: 60px;
    display: block;
    margin-bottom: 15px;
    animation: moveInLeft 3s ease-out; }
  .header-title-primary--sub {
    font-size: 16px;
    display: block;
    animation: moveInRight 3s ease-out; }

.header-text {
  text-transform: uppercase;
  letter-spacing: 2px; }

.u-mb-big {
  margin-bottom: 100px !important; }

.u-mb-medium {
  margin-bottom: 50px !important; }

.u-mb-small {
  margin-bottom: 20px !important; }

.ls-1 {
  letter-spacing: 3px; }

.icon-size--big {
  font-size: 50px !important; }

.icon-size--medium {
  font-size: 30px !important; }

.icon-size--small {
  font-size: 20px !important; }

.icon-color--green {
  color: #15ffa0 !important; }

.text--green {
  color: #15ffa0 !important; }

.text--medium {
  font-size: 25px; }

.no-margin {
  margin: 0 !important; }

.card-header {
  padding: 1px !important; }
  .card-header h6 > .btn-link {
    width: 100%;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 0 !important; }

.card-body {
  padding: 0 !important;
  min-height: 5px !important; }

.btn_link, .btn_link:hover {
  text-decoration: none !important;
  color: black; }

.c_btn, .c_btn:link, .c_btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.c_btn::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.c_btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.c_btn:active, .c_btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .c_btn:active::after, .c_btn:focus::after {
    transform: scaleX(1.6) scaleY(1.4);
    opacity: 0; }

.c_btn--white {
  background-color: #f6f6f6;
  color: #15ffa0; }
  .c_btn--white::after {
    background-color: #f6f6f6; }

.c_btn--green {
  background-color: #15ffa0;
  color: #f6f6f6; }
  .c_btn--green::after {
    background-color: #15ffa0; }

.c_btn--animation {
  animation: moveInBottom 2s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 16;
  color: #15ffa0;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #15ffa0;
  padding: 3px; }

.btn-text:hover {
  background-color: #15ffa0;
  color: #f6f6f6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translate(-2px); }

.btn-text:active {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translate(0); }

.header-fixed {
  width: 100%;
  background-color: #f6f6f6; }

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
  display: block; }

.header-fixed > thead > tr > th {
  text-align: center; }

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both; }

.header-fixed > tbody {
  overflow-y: auto;
  height: 350px; }

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
  width: 33%;
  float: left; }

.textBox {
  padding: 10px 15px;
  width: 100% !important;
  border: none;
  border-bottom: 2px solid #dddddd;
  margin-bottom: 8px;
  letter-spacing: 2px; }
  .textBox:focus {
    outline: none;
    border-bottom: 2px solid #15ffa0; }
  .textBox:invalid {
    border-bottom: 2px solid red;
    color: red; }
  .textBox:placeholder-shown ~ label {
    visibility: hidden;
    transform: translateY(-40px);
    color: #bbbbbb; }
  .textBox ~ label {
    padding-left: 15px;
    display: block;
    font-size: 10px;
    letter-spacing: 2px;
    color: #bbbbbb;
    transition: all .3s; }

.qq-uploader .qq-upload-button {
  min-width: 100px !important;
  margin: 20px auto !important;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.33);
  width: 150px;
  padding: 10px; }
  .qq-uploader .qq-upload-button:hover {
    background-color: black; }
  .qq-uploader .qq-upload-button div,
  .qq-uploader .qq-upload-button input {
    cursor: pointer; }
  .qq-uploader .qq-upload-button [name="file"] {
    cursor: pointer;
    outline: none; }

.qq-uploader .qq-upload-list > .qq-upload-success {
  border: 1px solid;
  background-color: #2dea2ddb !important; }

.qq-uploader .qq-upload-list > .qq-upload-fail {
  border: 1px solid;
  background-color: #ef4735db !important; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(21, 255, 160, 0.5), rgba(0, 224, 0, 0.5)), url(../../Images/file.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 76% 83%, 43% 99%, 0 100%, 0 0);
  --clip-path: polygon(50% 0%, 100% 0, 100% 100%, 76% 83%, 43% 99%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 76% 83%, 43% 99%, 0 100%, 0 0);
  position: relative; }
  .header__image-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__image-box .header__logo {
    height: 200px; }
  .header__primary {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.bg-light {
  background-color: #ffffff !important; }

.main-nav {
  text-align: center;
  padding: 5px 0;
  background-color: #ffffff;
  min-height: 100%; }
  .main-nav__list {
    padding: 0 !important;
    width: 100%; }
  .main-nav__item {
    list-style: none;
    cursor: pointer; }
    .main-nav__item:hover {
      background-color: #1e3030;
      animation: toggleLeft .3s ease-out forwards; }
  .main-nav__link {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 5px;
    color: #15ffa0; }
    .main-nav__link:hover {
      color: #f6f6f6; }

@media (max-width: 1800px) {
  .navbar-primary {
    display: none; } }

@media (max-width: 900px) {
  .navbar-primary {
    display: block; } }

@media (max-width: 1800px) {
  .navbar-secondary {
    display: block; } }

@media (max-width: 900px) {
  .navbar-secondary {
    display: none; } }

#sideNav {
  margin: 0 !important;
  padding: 0 !important; }

.main-logo {
  height: 80px; }
  @media (max-width: 600px) {
    .main-logo {
      height: 60px; } }
  @media (max-width: 400px) {
    .main-logo {
      height: 40px; } }

.Main-Content {
  background-image: linear-gradient(to bottom right, #f6f6f6, #15ffa0, #00e000);
  overflow-y: scroll;
  max-height: 70vh;
  padding: 20px 15px; }
  @media (max-width: 600px) {
    .Main-Content {
      min-height: 100vh; } }

@media (max-width: 400px) {
  .navbar {
    padding: 4px 8px !important; } }

.active-nav {
  background-color: #000000;
  color: #15ffa0; }

.navigation__checkbox {
  display: none; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(60); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
  visibility: visible; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  transform: rotate(-135deg);
  top: 0; }

.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  transform: rotate(-235deg);
  top: 0; }

.navigation__button {
  cursor: pointer;
  background-color: #f6f6f6;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 25px;
  right: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  z-index: 3000; }

.navigation__button:hover .navigation__icon::before {
  top: -10px; }

.navigation__button:hover .navigation__icon::after {
  top: 10px; }

.navigation__icon {
  position: relative;
  margin-top: 30px;
  left: 15px; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: gray; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .8s; }
  .navigation__icon::before {
    top: -8px; }
  .navigation__icon::after {
    top: 8px; }

.navigation__background {
  background-image: radial-gradient(#00ff7f, #15ffa0);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 1000;
  transition: all .8s; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__item {
  list-style: none;
  padding: 5px 10px;
  text-align: center;
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, #ffffff 50%);
  background-size: 300%;
  transition: all .5s; }
  .navigation__item:hover {
    background-position: 100%;
    color: #15ffa0; }

.navigation__link, .navigation__link:hover {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase; }

.search {
  display: inline-block;
  margin: 0 auto;
  position: relative; }
  .search__bar {
    border: 2px solid #15ffa0;
    border-radius: 100px;
    padding: 5px 15px;
    width: 600px; }
    @media (max-width: 600px) {
      .search__bar {
        width: 350px; } }
    @media (max-width: 400px) {
      .search__bar {
        width: 300px; } }
    .search__bar--icon {
      margin: 15px;
      color: #15ffa0; }
    .search__bar--text {
      margin-right: 15px;
      padding: 5px 10px;
      outline: none;
      border: none;
      width: 500px !important; }
      @media (max-width: 600px) {
        .search__bar--text {
          width: 230px !important; } }
      @media (max-width: 400px) {
        .search__bar--text {
          width: 190px !important; } }
  .search__suggestion {
    position: absolute;
    border: 1px solid #15ffa0;
    width: 555px;
    left: 24px;
    z-index: 1000;
    background-color: #ffffff;
    max-height: 200px;
    overflow-y: hidden; }
    @media (max-width: 600px) {
      .search__suggestion {
        width: 350px; } }
    @media (max-width: 400px) {
      .search__suggestion {
        width: 300px; } }
    .search__suggestion--list {
      padding: 0;
      margin: 0; }
    .search__suggestion--item {
      list-style: none;
      padding: 5px 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer; }
      .search__suggestion--item:hover {
        background-color: #000000;
        color: #15ffa0; }

.profile {
  position: relative;
  margin-bottom: 20px; }
  .profile__name {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    display: inline-block;
    margin: 5px; }
    @media (max-width: 600px) {
      .profile__name {
        font-size: 20px;
        text-align: center; } }
  .profile__position {
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: 3px; }
    @media (max-width: 600px) {
      .profile__position {
        text-align: center; } }
  .profile__jobcategory {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400; }
    @media (max-width: 600px) {
      .profile__jobcategory {
        text-align: center; } }
  .profile__details {
    display: inline-block;
    padding: 5px 20px;
    background-color: rgba(0, 224, 0, 0.3);
    border-radius: 100px;
    margin-bottom: 5px; }
    @media (max-width: 600px) {
      .profile__details {
        width: 100%;
        text-align: center; } }
    .profile__details--doj {
      margin-left: 10px;
      color: orangered; }
  .profile__picture {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 180px; }
    .profile__picture-data {
      border-radius: 50%;
      width: 100%; }
    @media (max-width: 600px) {
      .profile__picture {
        position: static;
        text-align: center;
        width: 100%;
        padding: 10px 50px; } }
  .profile__content {
    min-height: 45vh;
    max-height: 45vh;
    background-color: #f6f6f6;
    overflow-y: scroll; }

.active {
  text-decoration: none;
  background-color: #f6f6f6 !important;
  color: #15ffa0 !important;
  border-radius: 0 !important;
  font-weight: 600; }

@media (max-width: 900px) {
  .employee-nav {
    display: block; } }

.sub-nav-link {
  font-size: 12px; }

.section__file {
  min-height: 60vh;
  background-color: #f6f6f6;
  padding: 20px; }
  .section__file table td {
    padding-left: 30px !important; }
    .section__file table td:hover {
      color: #00e000; }

.section__new-record table > tbody > tr > th {
  text-align: center;
  text-transform: uppercase; }

.c_display-ib {
  display: inline !important; }

#btnBack {
  border-radius: 50%;
  padding: 5px 11px; }

.setting__navigation--list {
  margin: 0 !important; }

.setting__navigation--item {
  list-style: none; }

.setting__navigation--link {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
  padding: 3px 5px 3px 20px; }
  .setting__navigation--link:hover {
    text-decoration: none;
    background-color: black;
    color: #15ffa0; }

.setting__content {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: #f6f6f6; }

.setting__icon--setting {
  color: #15ffa0;
  margin-right: 10px; }

.setting__icon--text {
  font-size: 15px;
  color: #15ffa0;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* Set padding to keep content from hitting the edges */
/* Set width on the form input elements since they're 100% wide by default */
/* styles for validation helpers */
.field-validation-error {
  color: #b94a48; }

.field-validation-valid {
  display: none; }

input.input-validation-error {
  border: 1px solid #b94a48; }

input[type="checkbox"].input-validation-error {
  border: 0 none; }

.validation-summary-errors {
  color: #b94a48; }

.validation-summary-valid {
  display: none; }
