@{
    ViewBag.Title = "Welcome - 201 File Management";
    Layout = "~/Views/Shared/_landing.cshtml";
}

<header class="header">
    <div class="header__image-box">
        <img class="header__logo" src="~/Images/logo-2018.png" alt="Logo">
    </div>
    <div class="header__primary">
        <h1 class="header-title-primary u-mb-big">
            <span class="header-title-primary--main">
                ddtki 201 files
            </span>
            <span class="header-title-primary--sub">
                is where you manage your employees files
            </span>
        </h1>

        @Html.ActionLink("Go to Files", "FileManager","File",null, new { @class="c_btn c_btn--white c_btn--animation" })
    </div>
</header>