.header-title-primary {
    color: $color-white-1;
    text-transform: uppercase;
    letter-spacing: 3px;

    &--main {
        font-size: 60px;
        display: block;
        margin-bottom: 15px;
        animation: moveInLeft 3s ease-out;
    }
    
    &--sub {
        font-size: 16px;
        display: block;
        animation: moveInRight 3s ease-out;
    }

}